<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A learning journal for Code Fellows Python 401 students">
    <meta name="author" content="Cris Ewing and Students">
    <link rel="shortcut icon" href="{{ request.static_url('learning_journal:static/img/favicon.ico') }}">

    <title>Code Fellows Python 401 Learning Journal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href="{{ request.static_url('learning_journal:static/css/lj.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">401 Python</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if not request.authenticated_userid %}
              <li><a href="{{ request.login_url('github') }}">Log In via GitHub</a></li>
              {% else %}
              <li role="presentation" class="dropdown">
                <a id="personaltoolsLabel" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                  Welcome, {{ request.session.user.display_name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="personaltoolsLabel">
                  <li><a href="#">My Entries</a></li>
                  <li><a href="{{ request.route_url('logout') }}">Log Out</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </header>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1" class="mobile-hidden"></div>
          <div class="col-md-10" id="content">
          <div class="col-md-1" class="mobile-hidden"></div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted">Code Fellows 401 Python Learning Journal</p>
        <p>&copy; 2016, Cris Ewing, Developer LLC</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ request.static_url('learning_journal:static/js/vendor.min.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/js/lj.js') }}"></script>
  </body>
</html>
