{% extends "base.jinja2" %}
{% block body %}
<div class="row">
    <div class="page-header col-sm-12">
      <h1>{{ title }} {% if subtitle %}<small>{{ subtitle }}</small>{% endif %}</h1>
      {% if explanation %}
      <p>{{ explanation }}</p>
      {% endif %}
    </div>
</div>
{% endblock %}